@media print {
  select,
  input,
  button,
  .no-print {
    display: none !important;
  }

  #app {
    display: block;

    main {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }

  body {
    font-size: $font_size_small !important;

    p {
      font-size: $font_size_small !important;
    }

    h1 {
      font-size: $font_size_h2 !important;
      margin-bottom: $padding_xs !important;
    }

    h2 {
      font-size: $font_size_h3 !important;
      margin-bottom: $padding_xs !important;
    }

    h3 {
      font-size: $font_size_h4 !important;
      margin-bottom: $padding_xs !important;
    }

    h4 {
      font-size: $font_size_h5 !important;
      margin-bottom: $padding_xs !important;
    }

    h5 {
      font-size: $font_size_h6 !important;
      margin-bottom: $padding_xs !important;
    }
  }
}
